<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Worksmile-app.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F9C6278F25681D8800DFC9F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9C627A525681D8B00DFC9F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9C627B025681D8B00DFC9F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
